<div class="box-login bg-dark">
    <div class="d-flex flex-column gap-5 w-100 vh-100">
        <div class="img-omgg">
            <img src="assets/img/icono-logo-blanco.png" alt="">
        </div>
        <div class="d-flex flex-column gap-3 w-100 max-width p-3">
            <h3>Log in to Gastrood</h3>
            <div class="detalles box-options-register">
                <button class="btn-sencill">
                    <svg class="lg-facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="DodgerBlue">
                        <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
                    </svg>
                    <p> Log in with Facebook</p>
                </button>
                <button class="btn-sencill">
                    <img src="assets/img/google.png" alt="">
                    <p>Log in with Gmail</p>
                </button>
            </div>
            <div class="hr-detalles">
                <hr>
                <span>o</span>
                <hr>
            </div>
            <form class="formularioLogin formLogin" method="POST">
                <div class="cajaDatos usuario caja-datos-user">
                    <p class="icono-user" for="usuario">
                        <i class="fa-solid fa-user"></i>
                    </p>
                    <input class="flex-grow-1 datos-user" type="text" id="nombreUsuario" name="usuario" placeholder="Username">
                </div>
                <div class="cajaDatos  caja-datos-contra">
                    <p class="icono-user" for="usuario">
                        <i class="fa-solid fa-lock"></i>
                    </p>
                    <input class="flex-grow-1" type="password" id="contraUsuario" name="contrasena" placeholder="Password">
                </div>
                <input class="boton-inicio" name="boton-inicio" type="submit" value="Log in">
            </form>
            <div class="linksRegister">
                <hr>
                <a href="">Don't have an account yet???</a>
                <a href="#">Did you forget your password?</a>
            </div>
        </div>
    </div>
    <div class="box-information">
        <section>
            <p>Nadie es innecesario...</p>
            <span>Yitán</span>
        </section>
    </div>
</div>
