<nav class=" navbar navbar-expand navbar-dark bg-opacity-50">
    <!-- Modo movil -->
    <img id="img" src="assets/imag/icono-logo-blanco.png">
    <div class=" navbar-collapse">
        <ul class="navbar-nav mr-auto ms-4">

            <li class="nav-item active m-1 ">
                <a class="nav-link align-middle" href="#">HOME</a>
            </li>
            <li class="nav-item m-1">
                <a class="nav-link" href="#">ABOUT US</a>
            </li>
            <li class="nav-item m-1">
                <a class="nav-link" href="../assets/html/h1.html">CONTACT </a>
            </li>
        </ul>
    </div>
    <div class="p-2 m-1">
        <button type="button" class="btn btn-danger m-1">Login</button>
        <button type="button" class="btn btn-danger">Resgistrar</button>
    </div>
</nav>
