<nav class=" navbar navbar-expand navbar-dark bg-opacity-50 px-4">
    <!-- Modo movil -->
    <img id="img" src="assets/img/icono-logo-blanco.png">
    <div class=" navbar-collapse">
        <ul class="navbar-nav mr-auto ms-4" *ngIf="dataService.json">
            <li class="nav-item active m-1 " *ngFor="let dato of dataService.json.nav">
                <a class="nav-link align-middle" [routerLink]="dato.ruta">{{ dato.name}}</a>
            </li>
        </ul>
    </div>
    <div class="p-2 m-1">
        <button type="button" class="btn btn-danger m-1" routerLink="/login">Login</button>
        <button type="button" class="btn btn-danger" routerLink="/register">Resgistrar</button>
    </div>
</nav>
