<div class="centro">
    <div class="centro-part1 text-white p-4">
        <header class="img-omgg">
            <img src="./assets/img/icono-logo-blanco.png" alt="logo">
        </header>
        <div class="detalles margin contenedorPagina">
            <div class="box-title">
                <h3>Registrate en One More G.G</h3>
            </div>
            <div class="detalles box-options-register">
                <button class="btn-sencill">
                    <svg class="lg-facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="DodgerBlue"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>
                    <p> Registrate con Facebook</p>
                </button>
                <button class="btn-sencill">
                    <img src="./assets/img/google.png" alt="">   
                    <p>Registrate con Gmail</p>    
                </button>
            </div>
            <div class="hr-detalles">
                <hr>
                <span>o</span>
                <hr>
            </div>
                <form class="formulario">
                    <div class="cajaDatos usuario">
                        <p class="icono-user" for="usuario">
                            <i class="fa-solid fa-user"></i>
                        </p>
                        <input class="datos" type="text" name="usuario" placeholder="Username">
                    </div>
                    <div class="cajaDatos contraseña1">
                        <p class="icono-user">
                            <i class="fa-solid fa-lock"></i>
                        </p>
                        <input class="datos contrasena " type="password" name="contrasena" placeholder="Password">
                    </div>
                    <div class="cajaDatos contrasena2">
                        <p class="icono-user">
                            <i class="fa-solid fa-key"></i>
                        </p>
                        <input class="datos" type="password" name="contrasena2" placeholder="Confirm Password">
                    </div>
                    <div class="cajaDatos correo">
                        <p class="icono-user">
                            <i class="fa-solid fa-envelope"></i>
                        </p>
                        <input class="datos" type="email" name="email" placeholder="Gmail">
                    </div>
                    <div class="formulario-btn">
                        <button class="btn-danger btn w-100" type="submit" name="registrar">Register</button>
                    </div>
                    <hr>                    
                    <div>
                        <a routerLink="/login">Log in</a>
                        <span>.</span>
                        <a>¿Did you forgotten your password?</a>
                    </div>
            </form>
        </div>
    </div>
    <div class="contenedor-presentacion">
        <div class="presentacion">
            <div>
                <i class="fa-solid fa-check"></i>
                <h2>Comunidad activa y moderada</h2>
            </div>
            <div>
                <i class="fa-solid fa-check"></i>
                <h2>Puedes competir en diversos equipos</h2>
            </div>
            <div>
                <i class="fa-solid fa-check"></i>
                <h2>Hazte amigo de jugadores de todo el mundo</h2>
            </div>
        </div>
    </div>
</div>