<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="body bg-dark">
    <nav class=" navbar navbar-expand navbar-dark bg-opacity-50">
        <!-- Modo movil -->
        <img id="img" src="assets/imag/icono-logo-blanco.png">
        <div class=" navbar-collapse">
            <ul class="navbar-nav mr-auto ms-4">

                <li class="nav-item active m-1 ">
                    <a class="nav-link align-middle" href="#">HOME</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" href="#">ABOUT US</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link" href="../assets/html/h1.html">CONTACT </a>
                </li>
            </ul>
        </div>
        <div class="p-2 m-1">
            <button type="button" class="btn btn-danger m-1">Login</button>
            <button type="button" class="btn btn-danger">Resgistrar</button>
        </div>
    </nav>
    <div class="text-center bg-dark ">
        <h1 class="text-bg-dark p-lg-5 m-auto">OneMore</h1>

    </div>

    <div class="d-flex m-auto ">
        <div (click)="verDes();" class=" card text-bg-dark m-3 w-25 h-50">
            <img src="assets/imag/lol.jpeg" class="card-img ">
            <div *ngIf="descrip" class=" bg-danger bg-opacity-25 card-img-overlay ">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This as a natural little bit longer.</p>
                <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>


        <div class="card text-bg-dark m-3 w-25 h-50">
            <img src="assets/imag/valo.png" class="card-img  ">
            <div class="card-img-overlay ">
            </div>
        </div>
        <div class="card text-bg-dark m-3 w-25 h-50">
            <img src="assets/imag/tft.jpg" class="card-img ">
            <div class="card-img-overlay ">
            </div>
        </div>
        <div class="card text-bg-dark m-3 w-25 h-50">
            <img src="assets/imag/wild.jpg" class="card-img  ">
            <div class="card-img-overlay ">
            </div>
        </div>
        <div class="card text-bg-dark m-3 w-25 h-50">
            <img src="assets/imag/runa.jpg" class="card-img ">
            <div class="card-img-overlay ">
            </div>
        </div>
    </div>
    <div class="text-center bg-dark opacity-75 nosotros">
        <div class=" text-bg-dark">
            <h2 class="card-title m-5">ABOUT US</h2>
        </div>
    </div>
    <div class="card card-header border-0 text-bg-dark">
        <div class="card-body ">
            <p class="card-text lead non">We are a team formed by 3 people and we are working to create a better community in different videogames. We have always aimed to make our users have a better experience in their games and for that we have created this website, we care about
                getting our users to find the best team they can to have a good time. Our company aims to ensure that fans of video games can interact with each other and find someone to play with whenever they need.
            </p>
        </div>
    </div>
    <h2 class="text-center text-bg-dark p-4">TEAM</h2>
    <div class="card-group m-auto w-75">
        <div class="card border-0 m-2 bg-dar" *ngFor="let info of Informacion;index as i">
            <div class="card border-0">
                <img src="assets/imag/{{Informacion[i]['imagen']}}" class="card-img-top ">
                <div class="card-body ">
                    <h3 class="card-title ">{{Informacion[i]["nombre"]}}</h3>
                    <p class="card-text">{{Informacion[i]["descripcion"]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center bg-dark opacity-75 nosotros">
        <div class=" text-bg-dark">
        </div>
    </div>
    <div class="row text-bg-dark" id="contatti">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-6">
                    <h2 class="text-uppercase mt-3 font-weight-bold text-white">CONTACT</h2>
                    <form action="">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control mt-2" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control mt-2" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="form-group mt-2">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Inserisci testo" rows="3" required></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                        <label class="form-check-label" for="invalidCheck2">Accetta le condizioni</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-light" type="submit">Invia</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-white">
                        <h2 class="text-uppercase mt-4 font-weight-bold">Other methods</h2>

                        <i class="fa fa-phone mt-3"></i> <a href="tel:+"> (+39) 123456</a><br>
                        <i class="fa fa-envelope mt-3"></i> <a href=""> info@test.it</a><br>
                        <i class="fa fa-globe mt-3"></i> Calle terenamera, 1, 00184 Spain<br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center bg-secondary text-white mt-5">
        <!-- Grid container -->
        <div class="container bg-secondary text-bg-dark pt-4">
            <!-- Section: Social media -->
            <section class="mb-4 ">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg  text-bg-dark m-1" href="#!"><i class="fa fa-facebook-f"></i
            ></a>
                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg m-1 text-bg-dark" href="#!"><i class="fa fa-twitter"></i
            ></a>

                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg text-bg-dark m-1" href="#!" role="button"><i class="fa fa-google"></i
            ></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg  text-bg-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-instagram"></i
            ></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg m-1 text-bg-dark" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-linkedin"></i
            ></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg m-1 text-bg-dark" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fa fa-github"></i
            ></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center bg-dark text-bg-dark p-3">
            © 2020 Copyright:
            <a class="text-bg-dark" href="#">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>